body {
    font-family: Dosis, sans-serif;
}
p {
    font-size: 18px;
}
.navbar-default {
    background-color: #015cc2;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-family: Dosis, sans-serif;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 20px;
    font-family: Dosis, sans-serif;
}
.navbar-nav li a:hover {
    color: #015cc2 !important;
    background-color: #ffffff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #ffffff !important;
}
.jumbotron {
    color: #ffffff;
    font-family: Dosis, sans-serif;
    padding: 25px 25px 50px;
}
.container-fluid {
    padding: 30px 50px;
}
@media (max-width: 480px) {
    .container-fluid {
        padding: 0px 20px 0px 20px ;
    }
    .col-sm-4 {
        text-align: center;
    }
}
.default-color {
    background-color: #015cc2;
}
.darkblue-color {
    margin-top: 0px;
    margin-bottom: 0;
    background-color: #013c7f;
    color: #ffffff;
}
#about {
    margin-top: 75px;
    padding-bottom: 100px;
}
#brackets {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.goal-color {
    background-color: #efefef;
    padding-top: 75px;
    padding-bottom: 100px;
}
